<%= image_tag "http://i.imgur.com/j7yks4E.png" %>
<h1>Listing products</h1>

<% if @products.empty? %>
  <span class="text-warning">There are no products!</span>
<% else %>
<% end %>
<div class="transitions-enabled" id="pins">
  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <%= image_tag product.photo.url(:thumb) %>
      <div class="panel-body">
        <p>
          <%= product.name %>
        </p>
        <p>
          <%= product.description %>
        </p>
        <p>
          <%= product.formatted_price %>
        </p>
        <%= link_to 'Show', product %>
        |
        <%= link_to 'Delete', product, method: :delete, data: {confirm: "Are you sure you want to delete #{product.name}"} %>
        |
        <%= link_to 'Edit', edit_product_path(product) %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div id="overlay">
     <div>
          <p><%= form_for(@product, :html => { :multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price_in_cents %><br>
    <%= f.number_field :price_in_cents %>
  </div>

  <div class="field">
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></p>
     </div>
</div>

<div id="mainphoto">
  <% @products.each do |pin| %>
    <div class="box">
      <%= image_tag pin.image.url(:medium) %>
      <%= pin.description %>
      <%= pin.user.email if pin.user %>
      <%= link_to 'Show', pin_path(pin) %>
      <% if pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>